<%- include ("../views/partials/header.ejs"); %>

<body>
  <%- include ("../views/partials/navbar"); %>
  <div class="container">
    <hr>
    <h1>Questions</h1>
    <hr>
    <a href="/toask" class="btn btn-success">To Ask</a>
    <hr>

    <% questions.forEach(question => { %>
      <br>
      <div class="card">
        <div class="card-body">
          <h3><%= question.title %></h3>
        </div>
        <div class="card-footer">
          <a href="/question/<%= question.id %>"><button class="btn btn-success">Answser</button></a>
        </div>
      </div>
    <% }) %>
  </div>
</body>

<%- include ("../views/partials/footer"); %>